html{
    overflow-x: hidden;
}
/*Manu*/
#first{
    background-color: dodgerblue;
    min-height: 65em;
    min-width: 100%;
    position: relative;
    z-index: 55;
}
#deuz{
    background-color: lightgrey;
    min-height: 40em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
}
.firstriangle{
    padding: 0 !important;
    display: block;
}
.bordtriangle1 {
    width: 0;
    height: 0;
    border-bottom: 10em solid yellow;
    border-right: 75em solid transparent;
    z-index: 57;
    float: right;
    position: absolute;
    top:-10em;
}
.bordtriangle2{
    width: 0;
    height: 0;
    border-bottom: 10em solid yellow;
    border-left: 75em solid transparent;
    z-index: 57;
    float: right;
    position: relative;
    top: -10em;
}
.triangle1 {
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-right: 75em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top:-274px;
}
.triangle2{
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-left: 75em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top:-274px;
}
.triangle3{
    width: 0;
    height: 0;
    border-bottom: 13em solid yellow;
    border-left: 68em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top:27em;
}
.triangle4{
    width: 0;
    height: 0;
    border-bottom: 13em solid yellow;
    border-right: 68em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top:27em;
}
#troiz{
    background-color: green;
    min-height: 40em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
}
#katre{
    border-top: 3px solid yellow;
    border-bottom: 3px solid red;
    background-color: lightgrey;
    min-height: 40em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
}
#cink{
    background-color: white;
    min-height: 50em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
}

.bordtriangle3{
    width: 0;
    height: 0;
    border-bottom: 13em solid white;
    border-right: 95em solid transparent;
    z-index: 59;
    float: left;
    left: 100%;
    position: absolute;
    top:90px;
}

.bordtriangle4{
    width: 0;
    height: 0;
    border-bottom: 13em solid white;
    border-left: 95em solid transparent;
    z-index: 59;
    float: left;
    right: 100%;
    position: absolute;
    top:90px;
}
.triangle5{
    width: 0;
    height: 0;
    border-bottom: 13em solid yellow;
    border-left: 95em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top:6em;
}
.triangle6{
    width: 0;
    height: 0;
    border-bottom: 13em solid yellow;
    border-right: 95em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top:6em;
}
.triangle7{
    width: 0;
    height: 0;
    border-bottom: 30em solid yellow;
    border-left: 95em solid transparent;
    border-top: 30em solid yellow;
    z-index: 60;
    float: right;
    position: relative;
    top:15em;
}
.triangle8{
    width: 0;
    height: 0;
    border-bottom: 30em solid yellow;
    border-top: 30em solid yellow;
    border-right: 95em solid transparent;
    z-index: 60;
    float: right;
    position: absolute;
    top:28em;
}

#siss{
    background-color: orangered;
    min-height: 50em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:5em;
}
.bordtriangle5{
    width: 0;
    height: 0;
    border-bottom: 10em solid orangered;
    border-right: 75em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top:15em;
}
.bordtriangle6{
    width: 0;
    height: 0;
    border-bottom: 10em solid orangered;
    border-left: 75em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top:15em;
}
.triangle9{
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-right: 75em solid transparent;
    z-index: 57;
    float: right;
    position: absolute;
    top:4em;
}
.triangle10{
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-left: 75em solid transparent;
    z-index: 57;
    float: right;
    position: relative;
    top:4em;
}

/*autre*/
h1 {
    color: #1991dd;
}

header {

}

header ul {
    margin: 0;
}

header ul li {
    display: inline-block;
    list-style-type: none;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: white;

}

header ul li a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none !important;
}

header ul li a:hover {
    text-decoration: none;
    color: #ff7d44;
}

header ul li.current-menu-item a {
    color: black;
}

body {
    margin: 0px;
}

#head1 {
    background-color: #00a0d1 !important;
    height: 600px;
}

#triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid #00a0d1;
    border-left: 720px solid transparent;
    float: left;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid #00a0d1;
    border-right: 720px solid transparent;
    float: right !important;

}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid mediumvioletred;
    border-left: 720px solid transparent;
    float: left !important;
    z-index: 999 !important;
    margin-top: 200px;

}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid mediumvioletred;
    border-right: 720px solid transparent;
    float: right !important;
    z-index: 999 !important;
    margin-top: 200px;
}

.tri {

    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.nav {
    margin: 0 auto !important;
    background: none !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 999 !important;
    Updated: upstream

}

.menu {
    float:right;
    margin-right:5%;
    margin-top: 2%;
    font-size: 15px;


}

.secondiv {
    background-color: greenyellow !important;
    height: 570px;
}

.thirdiv {
    background-color: rebeccapurple !important;
    height: 800px;
}

.partenaires {
    background-color: lightyellow !important;
    height: 500px;
}

.projetitre {
    background-color: aquamarine !important;
    height: 300px;
}

.projet {
    background-color: mediumvioletred !important;
    height: 500px;
}

/** Fabien à propos **/


h2 {
    text-align: center !important;
}

.glyph {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

p {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3%;
}

