html{
    overflow-x: hidden;
}
#first{
    background-color: #0a5aa6;
    min-height: 65em;
    min-width: 100%;
    z-index: 55;
}

#usine{
    min-height: 65em;
    z-index: 99;
    min-width: 100%;
    background:url('../axelone1/img/flatusine.png') no-repeat center center;
    position: absolute;
}

#persoheader{

    min-height: 65em;
    z-index: 99;
    min-width: 100%;
    background:url('../axelone1/img/personnages.png') no-repeat center bottom;
    position: absolute;
}

#deuz{
    background-color: lightgrey;
    min-height: 40em;
    min-width: 100%;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
}
.firstriangle{
    padding: 0 !important;
    display: block;
}
.bordtriangle1 {
    width: 0;
    height: 0;
    border-bottom: 10em solid #ddc503;
    border-right: 75em solid transparent;
    z-index: 57;
    float: right;
    position: absolute;
    top:-10em;
}
.bordtriangle2{
    width: 0;
    height: 0;
    border-bottom: 10em solid #ddc503;
    border-left: 75em solid transparent;
    z-index: 57;
    float: right;
    position: relative;
    top: -10em;
}
.triangle1 {
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-right: 75em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top:-275px;
}
.triangle2{
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-left: 75em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top:-275px;
}
.deuztext{
    position: relative;
    z-index: 90;
    top:6em;
}
#deuz h3{
    z-index: 90;
    position: relative;
    text-align: center;
    top:4em;
    font-size: 60px;
}
.firstriangle{
    padding: 0 !important;
    display: block;
}
.triangle3{
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-left: 100em solid transparent;
    z-index: 60;
    float: right;
    position: relative;
    top:8em;
}
.triangle4{
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-right: 100em solid transparent;
    z-index: 60;
    float: right;
    position: absolute;
    top:8em;
}
#troiz{
    background-color: black;
    min-height: 50em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
    background:url('../axelone1/img/factory.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#opacity1 {
    background-color: black;
    min-height: 45em;
    margin: 40px 50px 40px 5%;
    opacity:0.6;
}

#opacity2 {
    background-color: black;
    height: 45em;
    margin: 40px 5% 40px 20px;
    opacity:0.6;
}

.karine {
    color: white;
    text-align: center;
    display:block;
    margin-top:50%;
    font-size: 70px;
    font-weight: lighter!important;
}

.axel {
    color: #ddc503;
    text-align: center;
    font-size: 55px;
    font-weight: lighter!important;
    margin-top: 10%;
}

.apropotxt {
    color: white;
    font-family: helvetica;
    font-size:20px;
    margin-top: 20%;
}


#katre{
    border-top: 3px solid #ddc503;
    border-bottom: 3px solid red;
    background-color: lightgrey;
    min-height: 40em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
}
#katre h3{
    z-index: 90;
    position: relative;
    text-align: center;
    font-size: 60px;
    top:1em;
    color:grey;
}
#katre p{
    font-size: 20px;
    text-align: center;
    top: 5em;
    z-index: 90;
    position: relative;
    text-align: center;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10em;
}
.blockjaune{
    min-height: 10em;
    min-width: 10em;
    background-color: #ddc503;
    width: 80%;
    margin-left: 20%;
    position: absolute;
    bottom: 0;
    z-index: 60;
}
#scroller{
    position: relative;
    width: 100%;
    z-index: 80;
    margin-top:3em;
    height: 100% !important;
    min-height: 10em !important;
}
#scroller .zone{
    overflow: hidden;position: absolute;left: 0;right: 0;top: 0;bottom: 0;
}
#scroller ul{
    padding: 0;margin: 0;position: relative;
}
#scroller li{
    padding: 0;margin: 0;list-style-type: none;position: absolute;
}
#scroller img{
    position: relative;
    z-index: 80;
    margin-left:15em;
    margin-right: 15em;
    min-width: 10em;
    min-height: 10em;
    max-height: 10em;
    max-width: 10em;
}
#scroller img:hover{
    position: relative;
    z-index: 81;
}
#cink{
    background-color: white;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    display: block;
    top:-275px;
}
#cink h3{
    z-index: 90;
    text-align: center;
    font-size: 60px;
}
#cink h4{
    z-index: 90;
    text-align: center;
    font-size: 60px;
    top:5em;
    position:relative;
}
.cinkontact{
    top:-20em;
}
#cink h5{
    color:gold;
    z-index: 90;
    position: relative;
    text-align: center;
    font-size: 60px;
    margin-bottom: 1em;
    top:10em;
}
#cink h6{
    color:gold;
    z-index: 90;
    position: relative;
    text-align: center;
    font-size: 50px;
    margin-bottom: 1em;
    top:12em;
}
.bordtriangle3{
    width: 0;
    height: 0;
    border-bottom: 13em solid white;
    border-right: 95em solid transparent;
    z-index: 59;
    float: left;
    left: 100%;
    position: absolute;
    top:90px;
}
.bordtriangle4{
    width: 0;
    height: 0;
    border-bottom: 13em solid white;
    border-left: 95em solid transparent;
    z-index: 59;
    float: left;
    right: 100%;
    position: absolute;
    top:90px;
}
.triangle5{
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-left: 95em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top:6em;
}
.triangle6{
    width: 0;
    height: 0;
    border-bottom: 13em solid #ddc503;
    border-right: 95em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top:6em;
}
.triangle7{
    width: 0;
    height: 0;
    border-bottom: 30em solid #ddc503;
    border-top: 30em solid #ddc503;
    border-left: 200em solid transparent;
    z-index: 60;
    float: right;
    position: relative;
    top: 14em;
    left: 30%;
}
.triangle8{
    width: 0;
    height: 0;
    border-bottom: 30em solid #ddc503;
    border-top: 30em solid #ddc503;
    border-right: 200em solid transparent;
    z-index: 60;
    float: right;
    position: absolute;
    top: 40em;
    left: 30%;
}

#siss{
    margin-top: 35em;
    background-color: #d65c5c;
    min-height: 50em;
    min-width: 100%;
    position: relative;
    z-index: 56;
    padding: 0 !important;
    top:0em;
}
#siss p{
    margin:0 !important;
}
.sissp{
    text-transform: uppercase !important;
    text-align: center !important;
    width: 50% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

#siss input{
    z-index: 60;
    min-height: 5em;
    width: 70%;
    float: left;
    margin-bottom: 4em;
    position: relative !important;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top:none;
    border-bottom: 5px solid white;
}

#siss textarea{
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top:none;
    border-bottom: 5px solid white;
    width: 70%;
    float: left;
}
#siss button{
    margin-top: 3em;
    background-color: white;
    color:darkgray;
    min-width: 30%;
    min-height: 3em;
    font-size: 20px;
    float: left;
}
.bordtriangle5{
    width: 0;
    height: 0;
    border-bottom: 10em solid #d65c5c;
    border-right: 95em solid transparent;
    z-index: 58;
    float: right;
    position: absolute;
    top: -9em;
}
.bordtriangle6{
    width: 0;
    height: 0;
    border-bottom: 10em solid #d65c5c;
    border-left: 95em solid transparent;
    z-index: 58;
    float: right;
    position: relative;
    top: -9em;
}
.triangle9{
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-right: 95em solid transparent;
    z-index: 55;
    float: right;
    position: absolute;
    top:-10em;
}
.triangle10{
    width: 0;
    height: 0;
    border-bottom: 10em solid lightgrey;
    border-left: 95em solid transparent;
    z-index: 55;
    float: right;
    position: relative;
    top:-20em;
}

/*autre*/
h1 {
    color: #1991dd;
}

header {

}

header ul {
    margin: 0;
}

header ul li {
    display: inline-block;
    list-style-type: none;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: white;

}

header ul li a {
    color: white;
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none !important;
}

header ul li a:hover {
    text-decoration: none;
    color: #ff7d44;
}

header ul li.current-menu-item a {
    color: black;
}

body {
    margin: 0px;
}

#head1 {
    background-color: #00a0d1 !important;
    height: 600px;
}

#triangle-topright {
    width: 0;
    height: 0;
    border-top: 100px solid #00a0d1;
    border-left: 720px solid transparent;
    float: left;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid #00a0d1;
    border-right: 720px solid transparent;
    float: right !important;

}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid mediumvioletred;
    border-left: 720px solid transparent;
    float: left !important;
    z-index: 999 !important;
    margin-top: 200px;

}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid mediumvioletred;
    border-right: 720px solid transparent;
    float: right !important;
    z-index: 999 !important;
    margin-top: 200px;
}

.tri {

    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.nav {
    margin: 0 auto !important;
    background: none !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 999 !important;
    Updated: upstream

}

.menu {
    float:right;
    margin-right:5%;
    margin-top: 2%;
    font-size: 15px;


}

.secondiv {
    background-color: greenyellow !important;
    height: 570px;
}

.thirdiv {
    background-color: rebeccapurple !important;
    height: 800px;
}

.partenaires {
    background-color: lightyellow !important;
    height: 500px;
}

.projetitre {
    background-color: aquamarine !important;
    height: 300px;
}

.projet {
    background-color: mediumvioletred !important;
    height: 500px;
}

/** Fabien à propos **/


.deuztext h2 {
    text-align: center !important;
}

.glyph {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.deuztext p {
    text-align: center !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 3%;
}

#industrie{
    background:url('../axelone1/img/industrie.png') no-repeat center center;
    height: 500px;
    z-index: 99;
}

@font-face {
    font-family: 'code_lightregular';
    src: url('fonts/code_light.eot');
    src: url('fonts/code_light.eot?#iefix') format('embedded-opentype'),
    url('fonts/code_light.woff2') format('woff2'),
    url('fonts/code_light.woff') format('woff'),
    url('fonts/code_light.ttf') format('truetype'),
    url('fonts/code_light.svg#code_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#titre {
    font-family: 'code_lightregular';
    font-weight: bold;
}
